<!--Footer-->
<footer class="footer">

  <div class="container has-text-centered">

    <div class="columns is-multiline">

      <div class="column is-one-third">
        <!-- Links Section -->
        <p class="has-text-weight-bold" style="font-size: 1.25rem; color: orange; margin-bottom: 8px">Links</p>
        <p style="color: black; text-align: left;">
          <a href="{{site.baseurl}}/projects/">Projects</a>
        </p>
        <p style="color: black; text-align: left;">
          <a href="{{site.baseurl}}/events/">Events</a>
        </p>
        <p style="color: black; text-align: left;">
          <a href="{{site.baseurl}}/members/">Members</a>
        </p>
        <p style="color: black; text-align: left;">
          <a href="{{site.baseurl}}/components/">Components</a>
        </p>
        <p style="color: black; text-align: left;">
          <a href="{{site.baseurl}}/gallery/">Gallery</a>
        </p>
        <p style="color: black; text-align: left;">
          <a href="{{site.baseurl}}/registration/">Registration</a>
        </p>
      </div>

      <div class="column is-one-third">
        <!-- Social Section -->
        <p class="has-text-weight-bold" style="font-size: 1.25rem; color: orange; margin-bottom: 8px">Social</p>
        <div class="buttons is-centered" style="text-align: left;">
          <a class="button is-danger" href="https://youtube.com/channel/UCo7ZitSCcgWNEsQVVzBx41g">
            <span class="icon">
              <i class="fab fa-youtube"></i>
            </span>
            <span style="color: black;">Youtube</span>
          </a>
          <a class="button is-link" href="https://facebook.com/themoderngeeks">
            <span class="icon">
              <i class="fab fa-facebook"></i>
            </span>
            <span style="color: black;">Facebook</span>
          </a>
          <a class="button is-link" href="https://www.instagram.com/roboticsclubcitk/">
            <span class="icon">
              <i class="fab fa-instagram"></i>
            </span>
            <span style="color: black;">Instagram</span>
          </a>
          <a class="button is-link" href="https://www.linkedin.com/in/roboticsclubcitk/">
            <span class="icon">
              <i class="fab fa-linkedin"></i>
            </span>
            <span style="color: black;">LinkedIn</span>
          </a>
          <a class="button is-danger" href="mailto:roboticsclub@cit.ac.in">
            <span class="icon">
              <i class="fa fa-envelope"></i>
            </span>
            <span style="color: black;">Mail</span>
          </a>
        </div>
      </div>

      <div class="column is-one-third">
        <!-- Other Links Section -->
        <p class="has-text-weight-bold" style="font-size: 1.25rem; color: orange; margin-bottom: 8px">Other Links</p>
        <p style="color: black; text-align: left;">
          <a href="{{site.baseurl}}/developers/">Web developers</a>
        </p>
        <p style="color: black; text-align: left;">
          <a href="https://cit.ac.in">CITK official site</a>
        </p>
      </div>

    </div>

    <hr>
    <p class="is-size-7">Copyright ©2024 Robotics Club, Central Institute of Technology Kokrajhar</p>
  </div>
</footer>
