---
layout: default
---

<!-- Title & Links -->
<div class="section">
  <div class="container">
    <h1 class="title">Magazine</h1>
    <h3 class="subtitle">Robotics Club CIT Kokrajhar</h3>
  </div>
</div>

<!-- PDF Links by Year -->
<div class="section">
  <div class="container">
    <div class="columns is-multiline">
      <!-- 2023 Magazine -->
      <div class="column is-one-quarter-tablet is-one-fifth-desktop">
        <a class="box has-text-centered" href="/assets/pdf/2023 ROBOTICS CLUB MEGAZINE.pdf" target="_blank">
          <p class="r-name has-text-weight-semibold is-capitalized">2023</p>
        </a>
      </div>
      <!-- 2024 Magazine -->
      <div class="column is-one-quarter-tablet is-one-fifth-desktop">
        <a class="box has-text-centered" href="/assets/pdf/2024_ROBOTICS_CLUB_MAGAZINE.pdf" target="_blank">
          <p class="r-name has-text-weight-semibold is-capitalized">2024</p>
        </a>
      </div>
      <!-- 2025 Magazine -->
      <div class="column is-one-quarter-tablet is-one-fifth-desktop">
        <a class="box has-text-centered" href="/assets/pdf/2025_ROBOTICS_CLUB_MAGAZINE.pdf" target="_blank">
          <p class="r-name has-text-weight-semibold is-capitalized">2025</p>
        </a>
      </div>
    </div>
  </div>
</div>

{{ content }}
